affine==2.4.0
asttokens==3.0.0
attrs==25.3.0
boto3==1.37.38
botocore==1.37.38
certifi==2025.1.31
click==8.1.8
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
cramjam==2.9.1
executing==2.2.0
fastparquet==2024.11.0
fiona==1.10.1
fsspec==2025.3.2
GDAL==3.10.3
geopandas==1.0.1
humanize==4.12.2
icecream==2.1.4
jmespath==1.0.1
numpy==2.2.4
packaging==24.2
pandas==2.2.3
psutil==7.0.0
Pygments==2.19.1
pyogrio==0.10.0
pyparsing==3.2.3
pyproj==3.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
rasterio==1.4.3
rasterstats==0.20.0
ruff==0.11.6
s3transfer==0.11.5
shapely==2.1.0
simplejson==3.20.1
six==1.17.0
tqdm==4.67.1
tzdata==2025.2
urllib3==2.4.0
toil==8.2.0